@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: rgb(23, 22, 26);
    color: antiquewhite;
}

body.light-mode {
    background-color: #FFFFFF;
    color: black;
}

:root {
    --bkg-clr : #F9F9F9;
    --default-button-clr : #FF8000;
    --hover-button-clr : #E67300;
    --white-clr : #FFFFFF;

    --nav-height : 5vh;
}