.widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: calc(100vh - var(--nav-height) - 2px);
}
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.center-side {

}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.reviews-container,
.offers-rank-widget {
    margin-left: 10px;
}
.orders-widget,
.sale-quality-wdg {
    margin-right: 10px;
}


.reviews-container,
.offers-rank-widget,
.orders-widget,
.sale-quality-wdg
{
    /* position: absolute; */
    border: 1px solid black;
    padding-bottom: 10px;
}

.widget-title {
    background-color: #80008091;
    color: black;
    height: 33.42px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 18px;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 12px;
}

.reviews-list {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    box-sizing: border-box;
}

.reviews-list th, .reviews-list td {
    text-align: left;
    padding: 8px;
    font-size: 12px;
    font-family: 'Noto Sans';
    font-weight: 400;
}

.reviews-list th {
    border-bottom: 1px solid black;
    text-align: center;
}

.reviews-list td {
    border-bottom: 1px solid black;
}

.rating {
    white-space: nowrap;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    min-width: 10px;
}

.review-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 10px;
    max-width: 300px;
}

.reviews-list-container {
    padding: 15px;
}

.offers-table-container, .orders-table-container {
    padding: 15px;
}

.offers-table, .orders-table {
    width: 100%;
    border-collapse: collapse;
}

.offers-table th, .offers-table td, .orders-table th, .orders-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-family: 'Noto Sans';
    font-weight: 400;
}

.filter-buttons {
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
}

.filter-buttons button {
    width: 90px;
    height: 30px;
    left: 66.69px;
    background: #FFECD9;
    border-width: 1px, 0px, 1px, 0px;
    border-style: solid;
    border-color: #000000;
    font-family: Noto Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.filter-buttons button + button {
    border-left: none;
}

.filter-buttons button.active {
    background: #FFD700;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.filter-buttons button:hover {
    background: #ffee8c;
}

.redirect-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect-button {
    width: 95px;
    height: 25px;
    color: white;
    border-radius: 4px;
    background-color: #FF8000;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: 'Noto Sans';
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}
.redirect-button:hover {
    background-color: #E67300;
}

/* ChartWidgetPart */
/* .chart-widg-nav {

} */